 <!-- SIDE BAR -->
        <div id="side-bar" xmlns:th="http://www.thymeleaf.org" th:fragment="sidebar">
            <div class="logo">ADMIN PAGE</div>
            <ul class="list-group rounded-0">
                <li class="dashboard">
                	 <a th:href="@{/home}">
                       	 DASHBOARD
                    </a>
                
                </li>
                <li>
                    <a th:href="@{/user}">
                        <i class="fa fa-user mr-2"></i> Quản lý nhân viên
                    </a>
                </li>
                <li>
                    <a th:href="@{/role}">
                        <i class="fa fa-book mr-2"></i> Quản lý quyền
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-cogs mr-2"></i> Cấu hình hệ thống
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-slack mr-2"></i> Thông tin khác
                    </a>
                </li>
            </ul>
        </div>