<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="layout/default">

<head>
    <title>Trang chủ</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    <!-- Meta -->
   
</head>

<body>
	<div layout:fragment="content">
			 <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-body">
                                    <div class="row">
                                        <div class="col-md-12 mb-2">
                                            <div class="page-header-breadcrumb">
                                                <ul class="breadcrumb-title">
                                                    <li class="breadcrumb-item"><a href="/admin"> <i
                                                                class="feather icon-home"></i> Trang chủ
                                                        </a></li>
                                                    <li class="breadcrumb-item"><a href="#!">Danh sách khóa
                                                            học</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="card px-3">
                                                <div class="card-header px-0 pb-2">
                                                    <h2 class="text-uppercase text-center">Danh sách khóa học</h2>
                                                    <a th:href="@{/course/add}" class="btn btn-sm btn-primary">Thêm
                                                        mới</a>
                                                </div>
                                                <div class="card-block table-border-style">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th>STT</th>
                                                                    <th>Tiêu Đề</th>
                                                                    <th>Hình Đại Diện</th>
                                                                    <th>Số Bài Học</th>
                                                                    <th>Giá Bán</th>
                                                                    <th>Hành Động</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <th>1</th>
                                                                    <td>Javascript</td>
                                                                    <td><img src='./assets/images/1.png' height="50" class="p-1 border" /></td>
                                                                    <td>20</td>
                                                                    <td class="text-danger font-weight-bold">1.200.000 đ</td>
                                                                    <td>
                                                                        <a href="#"class="btn btn-sm btn-info btn-round py-1 font-weight-bold">Sửa</a>
                                                                        <a href="#"class="btn btn-sm btn-danger btn-round py-1 font-weight-bold">Xóa</a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>2</th>
                                                                    <td>ReactJs</td>
                                                                    <td><img src='./assets/images/1.png' height="50" class="p-1 border" /></td>
                                                                    <td>30</td>
                                                                    <td class="text-danger font-weight-bold">1.500.000 đ</td>
                                                                    <td>
                                                                        <a href="#"class="btn btn-sm btn-info btn-round py-1 font-weight-bold">Sửa</a>
                                                                        <a href="#"class="btn btn-sm btn-danger btn-round py-1 font-weight-bold">Xóa</a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>3</th>
                                                                    <td>Angular 7</td>
                                                                    <td><img src='./assets/images/1.png' height="50" class="p-1 border" /></td>
                                                                    <td>20</td>
                                                                    <td class="text-danger font-weight-bold">1.500.000 đ</td>
                                                                    <td>
                                                                        <a href="#"class="btn btn-sm btn-info btn-round py-1 font-weight-bold">Sửa</a>
                                                                        <a href="#"class="btn btn-sm btn-danger btn-round py-1 font-weight-bold">Xóa</a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
	
	
	
	</div>
   
</body>

</html>