<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  lang="en">

<head>
    <title>Trang chủ</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon" />
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" />
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/plugins/font-awesome/css/font-awesome.min.css}" />
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/icon/themify-icons/themify-icons.css}" />
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/icon/icofont/css/icofont.css}" />
    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/icon/feather/css/feather.css}" />
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/jquery.mCustomScrollbar.css}" />
</head>

<body>
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
			<!-- Navbar -->
           <div th:replace="fragments/navbar"></div>
           
           
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                   <!-- SIDEBAR -->
                   <div th:replace="fragments/sidebar"></div>
                   
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <!-- Main-body start -->
                           <div layout:fragment="content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/assets/plugins/jquery/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/plugins/jquery-ui/js/jquery-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/plugins/popper.js/js/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" th:src="@{/assets/plugins/jquery-slimscroll/js/jquery.slimscroll.js}"></script>
    <!-- modernizr js -->
    <script type="text/javascript" th:src="@{/assets/plugins/modernizr/js/modernizr.js}"></script>
    <script type="text/javascript" th:src="@{/assets/plugins/modernizr/js/css-scrollbars.js}"></script>
    <script th:src="@{/assets/js/pcoded.min.js}"></script>
    <script th:src="@{/assets/js/vartical-layout.min.js}"></script>
    <script th:src="@{/assets/js/jquery.mCustomScrollbar.concat.min.js}"></script>
    <!-- Custom js -->
    <script type="text/javascript" th:src="@{/assets/js/script.js}"></script>
    <script src="//cdn.ckeditor.com/4.11.4/full/ckeditor.js"></script>
    <script src="http://cdn.ckeditor.com/4.4.7/standard-all/adapters/jquery.js"></script>
</body>

</html>