<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head>
<title>Thêm mới video</title>
</head>
<body>
	<div layout:fragment="content">
	
		<div class="row">
			<div class="col-md-12 mb-2">
				<div class="page-header-breadcrumb">
					<ul class="breadcrumb-title">
						<li class="breadcrumb-item"><a th:href="@{/admin}"> <i
								class="feather icon-home"></i> Trang chủ
						</a></li>
						<li class="breadcrumb-item"><a th:href="@{/admin/video}">video</a></li>
						<li class="breadcrumb-item"><a href="#!">Thêm mới video</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="card">
					<div class="card-header">
						<h2 class="text-uppercase text-center">Thêm mới video</h2>
					</div>
					<div class="card-block">
						<form action="#" method="post" th:action="@{/admin/video/add}" th:object="${video}">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>Tiêu đề</label> 
										<input type="text" name="title" class="form-control" th:field="*{title}"/>
										 <p class="text-danger" 
												th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
									</div>
									<div class="form-group">
										<label>Url</label> 
										<input type="text" name="url" class="form-control" th:field="*{url}"/>
										 <p class="text-danger" 
												th:if="${#fields.hasErrors('url')}" th:errors="*{url}"></p>
									</div>
									<div class="form-group">
										<label>Thời lượng (phút)</label> 
										<input type="number" name="timeCount" class="form-control" th:field="*{timeCount}"/>
										 <p class="text-danger" 
												th:if="${#fields.hasErrors('timeCount')}" th:errors="*{timeCount}"></p>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>Vị trí</label> 
										<input type="number" name="orderIndex" class="form-control" th:field="*{orderIndex}"/>
									</div>
									<!-- <div class="form-group">
										<label>Hình đại diện</label> 
										<input type="text" name="image" class="form-control" />
									</div> -->
									<div class="form-group">
										<label>Thuộc khóa học</label> 
										<select th:field="*{courseId}" name=""
											class="form-control">
											<option th:each="course:${courses}" th:value="${course.id}" th:text="${course.title}">Frontend</option>
										<!-- <option>Backend</option>
											<option>Mobile</option> -->
										</select>
										 <p class="text-danger" 
												th:if="${#fields.hasErrors('courseId')}" th:errors="*{courseId}"></p>
									</div>
								</div>
								<div class="col-12">
									<div class="form-group mt-3">
										<button type="submit" class="btn btn-primary m-b-0">Lưu lại</button>
										<a th:href="@{/admin/video}"
											class="btn btn-secondary text-white">Quay lại</a>
									</div>
								</div>
								
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>