<nav class="pcoded-navbar" xmlns:th="http://www.thymeleaf.org">
	<div class="pcoded-inner-navbar main-menu">
		<ul class="pcoded-item pcoded-left-item">
			<li class="">
				<a th:href="@{/admin}"> 
					<span class="pcoded-micon">
						<i class="feather icon-home"></i>
					</span> 
					<span class="pcoded-mtext">Dashboard</span>
				</a>
			</li>
			<li class="">
				<a th:href="@{/admin/category}"> 
					<span class="pcoded-micon">
						<i class="feather icon-layers"></i>
					</span> 
					<span class="pcoded-mtext">Danh mục</span>
				</a>
			</li>
			<li class="">
				<a th:href="@{/admin/course}"> 
					<span class="pcoded-micon">
						<i class="feather icon-layers"></i>
					</span>
					<span class="pcoded-mtext">Khóa học</span>
				</a>
			</li>
			<li class="">
				<a th:href="@{/admin/video}"> 
					<span class="pcoded-micon">
						<i class="feather icon-layers"></i>
					</span> 
					<span class="pcoded-mtext">Video</span>
				</a>
			</li>
			<li class="">
				<a th:href="@{/admin/target}"> 
					<span class="pcoded-micon">
						<i class="feather icon-layers"></i>
					</span> 
					<span class="pcoded-mtext">Mục tiêu</span>
				</a>
			</li>
			<li class="">
				<a th:href="@{/admin/user}"> 
					<span class="pcoded-micon">
						<i class="feather icon-user"></i>
					</span> 
					<span class="pcoded-mtext">Thành viên</span>
				</a>
			</li>
			<li class="">
				<a th:href="@{/admin/role}"> 
					<span class="pcoded-micon">
						<i class="feather icon-user"></i>
					</span> 
					<span class="pcoded-mtext">Quyền</span>
				</a>
			</li>
		</ul>
	</div>
</nav>