 <nav class="pcoded-navbar" xmlns:th="http://www.thymeleaf.org" th:fragment="sidebar">
                        <div class="pcoded-inner-navbar main-menu">
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="">
                                    <a href="javascript:void(0)">
                                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                        <span class="pcoded-mtext">Dashboard</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a th:href="@{/category}">
                                        <span class="pcoded-micon"><i class="feather icon-layers"></i></span>
                                        <span class="pcoded-mtext">Danh mục</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a th:href="@{/course}">
                                        <span class="pcoded-micon"><i class="feather icon-layers"></i></span>
                                        <span class="pcoded-mtext">Khóa học</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a th:href="@{/video}">
                                        <span class="pcoded-micon"><i class="feather icon-layers"></i></span>
                                        <span class="pcoded-mtext">Video</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a th:href="@{/target}">
                                        <span class="pcoded-micon"><i class="feather icon-layers"></i></span>
                                        <span class="pcoded-mtext">Mục tiêu</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a th:href="@{/user}">
                                        <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                                        <span class="pcoded-mtext">Tài khoản</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a th:href="@{/role}">
                                        <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                                        <span class="pcoded-mtext">Quyền</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>